.post-grid {
    margin-bottom: 50px;
}
.submit {
    margin-top : 50px;
}
.MuiGrid-item {
    margin-bottom: 50px;
}
.space {
    height: 50px;
    width: 100%;
}
.body {
    padding-bottom: 100px;
}
.form-control {
    width: 100%;
}